body{
    background:#e9ecf3;
}
/*profile*/
.profile-sidebar {
    float: left;
    width: 300px;
    margin-right: 20px
}

.profile-content {
    overflow: hidden
}

.profile-sidebar-portlet {
    padding: 30px 0 0!important
}
 

.profile-usertitle {
    text-align: center;
    margin-top: 20px
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px
}

.profile-userbuttons .btn {
    margin-right: 5px
}

.profile-userbuttons .btn:last-child {
    margin-right: 0
}

.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px
}

.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7
}

.profile-usermenu ul li:last-child {
    border-bottom: none
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 16px
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px
}

.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7
}

.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 800;
    text-align: center
}

.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600
}

.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px
}

.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px
}

.profile-desc-link a {
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1
}

@media (max-width:991px) {
    .profile-sidebar {
        float: none;
        width: 100%!important;
        margin: 0
    }
    .profile-sidebar>.portlet {
        margin-bottom: 20px
    }
    .profile-content {
        overflow: visible
    }
}


/*portlet*/
.page-portlet-fullscreen {
    overflow: hidden
}

.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px
}

.portlet.portlet-fullscreen {
    z-index: 10060;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff
}

.portlet.portlet-fullscreen>.portlet-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px
}

.portlet.portlet-fullscreen>.portlet-title {
    padding: 0 10px
}

.portlet>.portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.portlet>.portlet-title:after,
.portlet>.portlet-title:before {
    content: " ";
    display: table
}

.portlet>.portlet-title:after {
    clear: both
}

.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0
}

.portlet>.portlet-title>.caption.bold {
    font-weight: 400
}

.portlet>.portlet-title>.caption>i {
    float: left;
    margin-top: 4px;
    display: inline-block;
    font-size: 13px;
    margin-right: 5px;
    color: #666
}

.portlet>.portlet-title>.caption>i.glyphicon {
    margin-top: 2px
}

.portlet>.portlet-title>.caption>.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400
}

.portlet>.portlet-title>.actions {
    float: right;
    display: inline-block;
    padding: 6px 0
}

.portlet>.portlet-title>.actions>.dropdown-menu i {
    color: #555
}

.portlet>.portlet-title>.actions>.btn,
.portlet>.portlet-title>.actions>.btn-group>.btn,
.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm,
.portlet>.portlet-title>.actions>.btn.btn-sm {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.5
}

.portlet>.portlet-title>.actions>.btn-group>.btn.btn-default,
.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm.btn-default,
.portlet>.portlet-title>.actions>.btn.btn-default,
.portlet>.portlet-title>.actions>.btn.btn-sm.btn-default {
    padding: 3px 9px
}

.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm>i,
.portlet>.portlet-title>.actions>.btn-group>.btn>i,
.portlet>.portlet-title>.actions>.btn.btn-sm>i,
.portlet>.portlet-title>.actions>.btn>i {
    font-size: 13px
}

.portlet>.portlet-title>.actions .btn-icon-only {
    padding: 5px 7px 3px
}

.portlet>.portlet-title>.actions .btn-icon-only.btn-default {
    padding: 4px 6px 2px
}

.portlet>.portlet-title>.actions .btn-icon-only.btn-default>i {
    font-size: 14px
}

.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen {
    font-family: FontAwesome;
    color: #a0a0a0;
    padding-top: 3px
}

.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen.btn-sm {
    padding: 3px!important;
    height: 27px;
    width: 27px
}

.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen:before {
    content: "\f065"
}

.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen.on:before {
    content: "\f066"
}

.portlet>.portlet-title>.tools {
    float: right;
    display: inline-block;
    padding: 12px 0 8px
}

.portlet>.portlet-title>.tools>a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    opacity: 1;
    filter: alpha(opacity=100)
}



.portlet>.portlet-title>.tools>a.fullscreen {
    display: inline-block;
    top: -3px;
    position: relative;
    font-size: 13px;
    font-family: FontAwesome;
    color: #ACACAC
}

.portlet>.portlet-title>.tools>a.fullscreen:before {
    content: "\f065"
}

.portlet>.portlet-title>.tools>a.fullscreen.on:before {
    content: "\f066"
}

.portlet>.portlet-title>.tools>a:hover {
    text-decoration: none;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    opacity: .8;
    filter: alpha(opacity=80)
}

.portlet>.portlet-title>.pagination {
    float: right;
    display: inline-block;
    margin: 2px 0 0;
    border: 0;
    padding: 4px 0
}

.portlet>.portlet-title>.nav-tabs {
    background: 0 0;
    margin: 1px 0 0;
    float: right;
    display: inline-block;
    border: 0
}

.portlet>.portlet-title>.nav-tabs>li {
    background: 0 0;
    margin: 0;
    border: 0
}

.portlet>.portlet-title>.nav-tabs>li>a {
    background: 0 0;
    margin: 5px 0 0 1px;
    border: 0;
    padding: 8px 10px;
    color: #fff
}

.portlet>.portlet-title>.nav-tabs>li.active>a,
.portlet>.portlet-title>.nav-tabs>li:hover>a {
    color: #333;
    background: #fff;
    border: 0
}

.portlet>.portlet-body {
    clear: both;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.portlet>.portlet-body p {
    margin-top: 0
}

.portlet>.portlet-empty {
    min-height: 125px
}

.portlet.full-height-content {
    margin-bottom: 0
}

.portlet.bordered {
    border-left: 2px solid #e6e9ec!important
}

.portlet.bordered>.portlet-title {
    border-bottom: 0
}

.portlet.solid {
    padding: 0 10px 10px;
    border: 0
}

.portlet.solid>.portlet-title {
    border-bottom: 0;
    margin-bottom: 10px
}

.portlet.solid>.portlet-title>.caption {
    padding: 16px 0 2px
}

.portlet.solid>.portlet-title>.actions {
    padding: 12px 0 6px
}

.portlet.solid>.portlet-title>.tools {
    padding: 14px 0 6px
}

.portlet.solid.bordered>.portlet-title {
    margin-bottom: 10px
}

.portlet.box {
    padding: 0!important
}

.portlet.box>.portlet-title {
    border-bottom: 0;
    padding: 0 10px;
    margin-bottom: 0;
    color: #fff
}

.portlet.box>.portlet-title>.caption {
    padding: 11px 0 9px
}



.portlet.box>.portlet-title>.tools>a.fullscreen {
    color: #fdfdfd
}

.portlet.box>.portlet-title>.actions {
    padding: 7px 0 5px
}

.portlet.box>.portlet-body {
    background-color: #fff;
    padding: 15px
}

.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff
}

.portlet.light.bordered {
    border: 1px solid #e7ecf1!important
}

.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5
}

.portlet.light.bg-inverse {
    background: #f1f4f7
}

.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px
}

.portlet.light>.portlet-title>.caption {
    color: #666;
    padding: 10px 0
}

.portlet.light>.portlet-title>.caption>.caption-subject {
    font-size: 16px
}

.portlet.light>.portlet-title>.caption>i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px
}

.portlet.solid.blue-chambray>.portlet-title>.caption,
.portlet.solid.blue-dark>.portlet-title>.caption,
.portlet.solid.blue-ebonyclay>.portlet-title>.caption,
.portlet.solid.blue-hoki>.portlet-title>.caption,
.portlet.solid.blue-madison>.portlet-title>.caption,
.portlet.solid.blue-oleo>.portlet-title>.caption,
.portlet.solid.blue-sharp>.portlet-title>.caption,
.portlet.solid.blue-soft>.portlet-title>.caption,
.portlet.solid.blue-steel>.portlet-title>.caption,
.portlet.solid.blue>.portlet-title>.caption,
.portlet.solid.dark>.portlet-title>.caption,
.portlet.solid.default>.portlet-title>.caption,
.portlet.solid.green-dark>.portlet-title>.caption,
.portlet.solid.green-haze>.portlet-title>.caption,
.portlet.solid.green-jungle>.portlet-title>.caption,
.portlet.solid.green-meadow>.portlet-title>.caption,
.portlet.solid.green-seagreen>.portlet-title>.caption,
.portlet.solid.green-sharp>.portlet-title>.caption,
.portlet.solid.green-soft>.portlet-title>.caption,
.portlet.solid.green-steel>.portlet-title>.caption,
.portlet.solid.green-turquoise>.portlet-title>.caption,
.portlet.solid.green>.portlet-title>.caption,
.portlet.solid.grey-cararra>.portlet-title>.caption,
.portlet.solid.grey-cascade>.portlet-title>.caption,
.portlet.solid.grey-gallery>.portlet-title>.caption,
.portlet.solid.grey-mint>.portlet-title>.caption,
.portlet.solid.grey-salt>.portlet-title>.caption,
.portlet.solid.grey-silver>.portlet-title>.caption,
.portlet.solid.grey-steel>.portlet-title>.caption,
.portlet.solid.grey>.portlet-title>.caption,
.portlet.solid.purple-intense>.portlet-title>.caption,
.portlet.solid.purple-medium>.portlet-title>.caption,
.portlet.solid.purple-plum>.portlet-title>.caption,
.portlet.solid.purple-seance>.portlet-title>.caption,
.portlet.solid.purple-sharp>.portlet-title>.caption,
.portlet.solid.purple-soft>.portlet-title>.caption,
.portlet.solid.purple-studio>.portlet-title>.caption,
.portlet.solid.purple-wisteria>.portlet-title>.caption,
.portlet.solid.purple>.portlet-title>.caption,
.portlet.solid.red-flamingo>.portlet-title>.caption,
.portlet.solid.red-haze>.portlet-title>.caption,
.portlet.solid.red-intense>.portlet-title>.caption,
.portlet.solid.red-mint>.portlet-title>.caption,
.portlet.solid.red-pink>.portlet-title>.caption,
.portlet.solid.red-soft>.portlet-title>.caption,
.portlet.solid.red-sunglo>.portlet-title>.caption,
.portlet.solid.red-thunderbird>.portlet-title>.caption,
.portlet.solid.red>.portlet-title>.caption,
.portlet.solid.white>.portlet-title>.caption,
.portlet.solid.yellow-casablanca>.portlet-title>.caption,
.portlet.solid.yellow-crusta>.portlet-title>.caption,
.portlet.solid.yellow-gold>.portlet-title>.caption,
.portlet.solid.yellow-haze>.portlet-title>.caption,
.portlet.solid.yellow-lemon>.portlet-title>.caption,
.portlet.solid.yellow-mint>.portlet-title>.caption,
.portlet.solid.yellow-saffron>.portlet-title>.caption,
.portlet.solid.yellow-soft>.portlet-title>.caption,
.portlet.solid.yellow>.portlet-title>.caption {
    font-weight: 400
}

.portlet.light>.portlet-title>.caption.caption-md>.caption-subject {
    font-size: 15px
}

.portlet.light>.portlet-title>.caption.caption-md>i {
    font-size: 14px
}

.portlet.light>.portlet-title>.actions {
    padding: 6px 0 14px
}

.portlet.light>.portlet-title>.actions .btn-default {
    color: #666
}

.portlet.light>.portlet-title>.actions .btn-icon-only {
    height: 27px;
    width: 27px
}

.portlet.light>.portlet-title>.actions .dropdown-menu li>a {
    color: #555
}

.portlet.light>.portlet-title>.inputs {
    float: right;
    display: inline-block;
    padding: 4px 0
}

.portlet.light>.portlet-title>.inputs>.portlet-input .input-icon>i {
    font-size: 14px;
    margin-top: 9px
}

.portlet.light>.portlet-title>.inputs>.portlet-input .input-icon>.form-control {
    height: 30px;
    padding: 2px 26px 3px 10px;
    font-size: 13px
}

.portlet.light>.portlet-title>.inputs>.portlet-input>.form-control {
    height: 30px;
    padding: 3px 10px;
    font-size: 13px
}

.portlet.light>.portlet-title>.pagination {
    padding: 2px 0 13px
}

.portlet.light>.portlet-title>.tools {
    padding: 10px 0 13px;
    margin-top: 2px
}

.portlet.light>.portlet-title>.nav-tabs>li {
    margin: 0;
    padding: 0
}

.portlet.light>.portlet-title>.nav-tabs>li>a {
    margin: 0;
    padding: 12px 13px 13px;
    font-size: 13px;
    color: #666
}

.portlet.light>.portlet-title>.nav-tabs>li.active>a,
.portlet.light>.portlet-title>.nav-tabs>li:hover>a {
    margin: 0;
    background: 0 0;
    color: #333
}

.portlet.light.form-fit {
    padding: 0
}

.portlet.light.form-fit>.portlet-title {
    padding: 17px 20px 10px;
    margin-bottom: 0
}

.portlet.light .portlet-body {
    padding-top: 8px
}

.portlet.light.portlet-fullscreen>.portlet-body {
    padding: 8px 0
}

.portlet.light.portlet-fit {
    padding: 0
}

.portlet.light.portlet-fit>.portlet-title {
    padding: 15px 20px 10px
}

.portlet.light.portlet-fit>.portlet-body {
    padding: 10px 20px 20px
}

.portlet.light.portlet-fit.portlet-form>.portlet-body {
    padding: 0
}

.portlet.light.portlet-fit.portlet-form>.portlet-body .form-actions {
    background: 0 0
}

.portlet.box.white>.portlet-title,
.portlet.white,
.portlet>.portlet-body.white {
    background-color: #fff
}

.portlet.light.portlet-datatable.portlet-fit>.portlet-body {
    padding-top: 10px;
    padding-bottom: 25px
}

.tab-pane>p:last-child {
    margin-bottom: 0
}

.tabs-reversed>li {
    float: right;
    margin-right: 0
}

.tabs-reversed>li>a {
    margin-right: 0
}

.portlet-sortable-placeholder {
    border: 2px dashed #eee;
    margin-bottom: 25px
}

.portlet-sortable-empty {
    box-shadow: none!important;
    height: 45px
}

.portlet-collapsed {
    display: none
}

@media (max-width:991px) {
    .portlet-collapsed-on-mobile {
        display: none
    }
}

.portlet.solid.white>.portlet-body,
.portlet.solid.white>.portlet-title {
    border: 0;
    color: #666
}

.portlet.solid.white>.portlet-title>.caption>i {
    color: #666
}